/*indexEnter CSS*/


/*覆盖index.html样式*/

body {
    background: url(../images/12.jpg) no-repeat;
    min-width: 1000px;
}

.top_lead,
.login,
.setting-menu a {
    color: #fff;
}

#top {
    margin: 8px 0 5px 0;
}

.topnavcolor a:hover {
    color: #fff !important;
    text-decoration: underline;
}

#top .setting-menu .baidu-setting,
.user-setting a {
    color: #333;
    background-color: #fff;
}


/*用户下拉*/

.user-setting a {
    margin: 0;
    color: #333333;
}

.setting-user {
    display: none;
}

.user-setting {
    position: absolute;
    right: 120px;
    text-align: center;
    top: 25px;
    width: 60px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px #ddd;
    z-index: 99;
}

.user-setting a {
    display: inline-block;
    width: 100%;
    color: #333;
}

.user-setting .icon-trangle {
    top: -11px;
    left: 25px;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #d8d8d8;
}

.user-setting .icon-trangle:after {
    content: '.';
    top: -4px;
    left: -5px;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #fff;
}

.shadowTop {
    width: 100%;
    height: 35px;
    background-image: linear-gradient(rgba(15, 25, 50, .3) 0, rgba(15, 25, 50, .3) 100%);
    position: absolute;
    top: 0px;
}

.search_class {
    background-color: #fff;
}

.btn_submit {
    border-left: 1px solid #fff;
}

.btn_submit .btn {
    background-position: -206px 0;
}

.btn_submit .btn {
    background-image: url(../images/skin_dark_aab96bcc.png);
    color: #000;
}

.imgstyle {
    width: 36px;
}

.small-logo {
    width: 100px;
    display: inline-block;
    margin: 0px 0px -9px 0px;
}

.topFirst {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 32px;
    padding-right: 15px;
    padding-top: 0px;
}

.topWeather {
    float: left;
    height: 34px;
    margin-top: 5px;
}

.hoverWeather {
    position: absolute;
    margin-top: 35px;
    display: none;
}

.weather-trangle {
    top: -10px;
    left: 65px;
    width: 0;
    height: 0;
    /* display: block; */
    position: absolute;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #fff;
    z-index: 10px;
}

.weatherContent {
    margin: 7px 0 0 15px;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    _margin: 6px 0 0 7px;
}

.city-weather {
    display: block;
    cursor: pointer;
    height: 20px;
    white-space: nowrap;
    _text-align: left;
    _display: inline;
}

.weatherContent a {
    color: #adacac;
    text-decoration: none;
}

.show-weather，.show-pollution {
    display: block;
    cursor: pointer;
    height: 20px;
    white-space: nowrap;
}

.show-weather span {
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
    color: #555;
    font-style: normal;
    font-weight: bold;
    font: 12px arial;
    color: #fff;
    line-height: 20px;
}

.fontStyle {
    font-style: normal;
    font-weight: bold;
    font: 13px arial;
    color: #fff;
}

.show-city em {
    line-height: 20px;
}

.show-city-name {}

.show-icon {
    margin-right: 9px;
}

.weather-icon {
    background: url(../images/a0_night.png) no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.city-wather em {
    color: #fff;
    line-height: 20px;
}

.show-pollution-name {
    color: #badc00;
    font-weight: bold;
    font-style: normal;
}

.show-pollution em {
    margin-right: 7px;
    /*vertical-align: top;*/
}

.show-vertical {
    margin-right: 11px;
}

.show-weather {
    float: left;
}

.show-pollution {
    float: left;
}


/*宝箱 换肤 消息*/

.functionIcon {
    float: left;
    margin-left: 10px;
    margin-top: 0;
}

.functionIcon a {
    position: relative;
    height: 32px;
    line-height: 32px;
    margin-right: 4px;
    color: #fff;
    text-decoration: underline;
    outline: none;
    display: inline-block;
    text-shadow: none;
    margin-top: 10px;
}

.function-treasure {}

.function-skin {}

.function-message {}


/*footer*/

#footer {
    position: relative;
    bottom: -150px;
}

.right_middle,
.right_middle a,
.right_footer {
    color: #fff;
}

.right_footer {
    text-align: center;
}


/*contentCenter导航栏*/

.contCenter {
    width: 895px;
    height: auto;
    /*background-color: yellowgreen;*/
    top: 130px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    /*min-height: 35px;
    _height: 35px;*/
}

.contCenter-menus {
    position: relative;
    width: 100%;
    height: 39px;
    color: #333;
    border-bottom: 1px solid #e9e9e9;
    z-index: 11111;
    line-height: 40px;
    border-color: rgba(226, 226, 226, .9);
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
}

.bgcolor {
    background-image: linear-gradient(rgba(255, 255, 255, .9) 0, rgba(255, 255, 255, .9) 100%)
}

.menus-mine {
    height: 39px;
    color: #333;
    display: inline-block;
    float: left;
    width: 124px;
}


/*公共图片*/

.mine-icon {
    margin: 11px 0 0 20px;
    width: 20px;
    height: 18px;
    background: url(../images/card_setts_fdb17359.png) no-repeat;
}

.attention {
    background-position: -15px 1px;
}

.mine-text {
    height: 100%;
    margin-left: 42px;
    display: inline-block;
    zoom: 1;
    position: relative;
    top: -30px;
}

.menus-nav {
    width: 721px;
    float: left;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.menus-nav-word {
    width: auto;
    display: block;
    zoom: 1;
    float: left;
    vertical-align: top;
    height: 100%;
}

.menus-nav-items a {
    color: #333;
    width: 80px;
    height: 39px;
    display: block;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    float: left;
}

.menus-nav-items a:hover,
.menus-nav-items a:active,
.menus-nav-items a:visited {
    width: 80px;
    height: 39px;
    display: block;
    background: rgba(164, 164, 162, .3);
}

.menus-set {
    height: 39px;
    float: right;
    width: 20px;
    padding: 0 21px 0 11px;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

.menus-set-icon {
    width: 100%;
    height: 18px;
    margin-top: 11px;
    overflow: hidden;
    background-position: -121px -49px;
    margin-left: 0;
}


/*.contCenter-cot*/

.tab_con {
    border: 1px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, .9) 0, rgba(255, 255, 255, .9) 100%);
    width: 894px;
    min-height: 363px;
}

.newsData {
    height: auto;
    /*height: 363px;*/
    overflow: hidden;
    position: relative;
    width: 843px;
    padding: 0 13px 0 13px;
}

.new-right {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 300px;
    margin-top: 20px;
    text-align: left;
}


/*.new-rightScorll{
    position: fixed;
    top: 0px;
    right: 159px;
    width: 300px;
    margin-top: 100px;
    text-align: left;
}*/

.right-rankTitle {
    height: 30px;
    width: 270px;
    border-bottom-color: rgba(233, 233, 233, .9)
}

.title-text {
    float: left;
    height: 22px;
    width: 94px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: bold;
}

.title-text a {
    text-decoration: none;
    color: #333;
}

.hot-refresh {
    display: block;
    float: right;
    height: 22px;
    padding-top: 3px;
    width: 60px;
    cursor: pointer;
}

.hot-refresh-icon {
    width: 20px;
    height: 16px;
    background: url(../images/news_88aeb6fe.png) -23px -25px no-repeat;
    display: inline-block;
    vertical-align: bottom;
}

.hot-refresh-text {
    font-size: 13px;
    width: 30px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
}

.news-right a {
    color: #000;
    text-decoration: none;
}

.right-item {
    width: 140px;
    margin-right: 3px;
    display: inline-block;
}

.news-title {
    width: 139px;
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
}

.title-link {
    float: left;
    display: block;
    font-size: 14px;
}

.title-link a {
    /*width: 139px;
    overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-content {
    display: inline-block;
    vertical-align: middle;
}

.new-identity {
    width: 18px;
    height: 18px;
    background: url(../images/news_88aeb6fe.png) -57px -98px no-repeat;
    display: inline-block;
    /*margin-left: 5px;*/
    vertical-align: middle;
}


/*兴趣推荐*/

.new-interest {
    width: 100%;
    height: 38px;
    text-align: left;
}

.line-style {
    border-color: rgba(226, 226, 226, .9);
}

.left-line,
.right-line,
.tips-content,
.tips-icon {
    display: inline-block;
    vertical-align: middle;
}

.left-line,
.right-line {
    height: 0;
    width: 172px;
    font-size: 0;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 21px;
}

.tips-content {
    width: 210px;
    padding-top: 21px;
    margin: 0 auto;
}

.tips-icon {
    height: 14px;
    width: 12px;
    margin: 0 6px 0 6px;
    background: url(../images/news_88aeb6fe.png) no-repeat -45px -1px;
}


/*滚动加载新闻*/

.new-left {
    float: left;
    text-align: left;
    width: 538px;
}

.news-list-style {
    min-height: 87px;
    overflow: visible;
    /*border-top: 1px solid #f0f0f0;*/
    position: relative;
    /*border-color: rgba(226, 226, 226, .9);*/
    float: left;
    text-align: left;
    width: 538px;
}

.news-right li {
    display: block;
}

.new-left h2 {
    width: 100%;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 2px;
}

.new-left h2 a {
    display: inline-block;
    width: 508px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
}

.from {
    color: rgba(0, 0, 0, 0.4);
    height: 15px;
    line-height: 36px;
    font-size: 13px;
    position: relative;
    width: 100%;
}

.src-net {
    margin-right: 6px;
}

.src-net a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

.src-time {
    vertical-align: -1px;
    margin-right: 6px;
}

.hot-point {
    color: #f13f40;
    border: 1px solid #efb9b9;
    font-size: 12px;
    line-height: 12px;
    padding: 0 2px;
    border-radius: 3px;
}

.delete {
    position: absolute;
    top: 11px;
    right: 0;
    background: url(../images/dustbin_new_41cbcb37.png) no-repeat;
    background-position: -0px -19px;
    width: 19px;
    height: 15px;
    /*display: none;*/
}

.news-pic-content {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 0;
    height: 119px;
}

.news-pic-content a img {
    height: 119px;
    width: 179px;
}

.news-container {
    vertical-align: middle;
    display: table-cell;
    padding-left: 21px;
}

.new-left .news-container h2 a {
    display: inline-block;
    width: 337px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
}

.newsMore {
    width: 90px;
    height: 45px;
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
    left: 50%;
    z-index: 5;
    margin-left: -45px;
    padding-top: 0;
    visibility: visible;
    bottom: 10px;
}

.load-text {
    display: none;
}

.rect {
    background-position: 0 0;
    border-color: #fff;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -28px;
    height: 32px;
    width: 57px;
    font-size: 0;
    vertical-align: bottom;
    background: url(../images/more_up_bg_83c39341.png) no-repeat;
}

.animate-arrow {
    position: relative;
    display: block;
    height: 13px;
    width: 22px;
    /*margin: 0 auto;*/
    background: url(../images/card_setts_fdb17359.png) no-repeat -114px -2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    animation: myfirst 2s infinite linear;
    -webkit-animation: myfirst 2s infinite linear;
    animation-fill-mode: forwards;
}

@-webkit-keyframes myfirst {
    0% {
        margin-top: 4px;
    }
    25% {
        margin-top: 10px;
    }
    50% {
        margin-top: 16px;
    }
    75% {
        margin-top: 10px;
    }
    100% {
        margin-top: 4px;
    }
}

.news-list-show {
    display: none;
}

#newsRightList {
    margin-left: -5px;
}

#newsRightList li {
    width: 140px;
    height: 30px;
    overflow: hidden;
    /*background: #fff;*/
    position: relative;
}

#newsRightList {
    overflow: hidden;
    zoom: 1;
}

#newsRightList li {
    float: left;
    display: inline;
}

#newsRightList li .right-item-dl {
    width: 420px;
    overflow: hidden;
    zoom: 1;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

#newsRightList li dl dd {
    float: left;
    display: inline;
    width: 140px;
    overflow: hidden;
}

.user-setting a:hover {
    color: #fff;
    background-color: rgb(51, 133, 255);
}

#tabbox {
    width: 895px;
    overflow: hidden;
    margin: 0 auto;
}

.tabs {
    height: 39px;
    width: 909px;
}

.tabs li {
    height: 38px;
    line-height: 38px;
    float: left;
    border: 1px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, .9) 0, rgba(255, 255, 255, .9) 100%);
    overflow: hidden;
    position: relative;
}

.tabs li a {
    display: block;
    padding: 0 20px;
    outline: none;
    text-decoration: none;
    color: #333;
}

.tabs li a:hover {
    background-color: rgba(96, 96, 96, .1);
    color: #333;
    /*font-weight: bold;*/
}

.tab_conbox {
    /* border: 1px solid #999;*/
    /*border-top: none;*/
    /*background-color: orange;*/
    width: 895px;
    text-align: left;
}

.tab_con {
    display: none;
    padding: 12px;
    font-size: 14px;
    line-height: 175%;
}

.tabs .thistab,
.tabs .thistab a:hover {
    /*background: transparent;*/
    color: #333 !important;
    background-color: transparent !important;
    background-image: linear-gradient(rgba(240, 240, 240, .5) 0, rgba(240, 240, 240, .5) 100%) !important;
    border: none;
    border-top: none;
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}


/*.current:hover {
        color: #333 !important;
        background-color: transparent !important;
        background-image: linear-gradient(rgba(240, 240, 240, .5) 0, rgba(240, 240, 240, .5) 100%) !important;
        border: none;
        border-top: none;
        border-bottom: none;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
    }*/


/*公共图片*/

.mine-icon {
    width: 20px;
    height: 18px;
    background: url(../images/card_setts_fdb17359.png) no-repeat;
    display: inline-block;
    float: left;
    margin: 11px 2px 0 6px;
}

.attention {
    background-position: -15px 1px;
}

.attword {
    display: inline-block;
    float: left;
}

.menus-set {
    height: 39px;
    float: right;
    width: 18px;
    padding: 0 21px 0 11px;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

.menus-set-icon {
    width: 100%;
    height: 18px;
    margin-top: 11px;
    overflow: hidden;
    background-position: -105px -49px;
    margin-left: 0;
}

.menus-set-icon:hover {
    height: 18px;
    background-position: -105px -73px !important;
}

.bgcolor {
    background-image: linear-gradient(rgba(255, 255, 255, .9) 0, rgba(255, 255, 255, .9) 100%)
}

.set-icon {
    /*    padding-left: 449px;
*/
    float: right;
}


/*我的关注*/

.triangle {
    width: 0;
    height: 0;
    line-height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #A9DBF6;
    float: left;
    margin-top: 11px;
    margin-right: 5px;
    float: left;
}

.triangle_down {
    width: 0;
    height: 0;
    line-height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #A9DBF6 transparent transparent transparent;
    float: left;
    margin-top: 11px;
    margin-right: 5px;
    float: left;
}

.menu_list {
    /*float: left;*/
}

.menu_head {
    cursor: pointer;
    font-weight: bold;
    line-height: 30px;
    height: 31px;
    margin-right: 4px;
    display: inline-block;
    width: 150px;
}

.menu_body {
    display: none;
}

.menu_body a {
    width: 160px;
    height: 40px;
    display: block;
    color: #333;
    text-decoration: none;
    float: left;
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.menu_body a:hover {
    background-color: rgba(144, 144, 144, 0.05);
}

.menu_icon {
    margin-right: 5px;
    margin-top: 12px;
    vertical-align: top;
}

.gussLike {
    width: 885px;
    display: inline-block;
}

.gussLike li {
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 58px;
    line-height: 58px;
    width: 126px;
    border: 1px solid transparent;
    text-align: center;
    display: inline-block;
}

.gussLike li a {
    text-decoration: none;
    color: #333;
}

.gussLike li a:hover {
    text-decoration: none;
}

.gussLike img {
    margin-right: 8px;
    margin-bottom: -2px;
}

.gussLike li:hover {
    border: 1px solid #dedada;
    background-color: rgba(144, 144, 144, 0.05);
}

.tab_con p {
    font-weight: bold;
}


/*视频区域*/

.videoList a {
    text-decoration: none;
}

.videoList li {
    list-style: none;
    float: left;
    margin-right: 17px;
    margin-bottom: 17px;
}


/*视频时长*/

.showTime {
    width: 195px;
    height: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    z-index: 3;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    font-size: 13px;
    bottom: -10px;
    left: 13px;
    top: 308px;
    text-align: right;
    vertical-align: bottom;
    line-height: 40px;
}

.showTime span {
    margin-right: 5px;
}

.show2 {
    left: 225px;
    top: 308px;
}

.show3 {
    left: 437px;
    top: 311px;
}

.show4 {
    left: 649px;
    top: 311px;
}

.show5 {
    left: 437px;
    top: 138px;
}

.show6 {
    left: 650px;
    top: 138px;
}

.v-text {
    height: 49px;
    width: 175px;
    overflow: hidden;
    padding: 0 9px;
    text-decoration: none;
    zoom: 1;
    background: #F5F5F5;
    border: 1px solid #F1F1F1;
    border-top: none;
    position: relative;
    top: -5px;
}

.video-font a {
    font-size: 14px;
    color: #333;
    text-align: left;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
}

.font-small a {
    font-size: 11px;
}

.video-font a:hover {
    color: #07f;
    text-decoration: underline;
}

.score {
    font-size: 13px;
    font-weight: bold;
    color: #999;
    margin-top: 6px;
}

.score-star {
    display: inline-block;
    height: 13px;
    width: 65px;
    background-image: url(../images/star.png);
    background-repeat: repeat-x;
    vertical-align: middle;
    margin-bottom: 4px;
    position: relative;
    margin-right: 5px;
}

.score-active {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 13px;
    width: 13px;
    background-image: url(../images/star.png);
    background-repeat: repeat-x;
    background-position: 0 -13px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.bxqy {
    width: 53.95px;
}

.wlf {
    width: 43.55px;
}

.tag-sort {
    position: absolute;
    top: 76px;
    left: 166px;
    display: block;
    height: 42px;
    width: 42px;
    cursor: pointer;
    z-index: 3;
    display: block;
}

.tag-sort1 {
    background-image: url(../images/rightName.png);
    background-position: -126px 0;
}

.tag-sort2 {
    background-image: url(../images/rightName.png);
    background-position: -42px 0;
    top: 76px;
    left: 378px;
}


/*换肤弹出*/


/*body {
        background: url(images/bg0.jpg);
    }*/

.con {
    width: 911px;
    height: 317px;
    margin: 50px auto;
}

.head {
    width: 100%;
    height: 0px;
    background: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
    z-index: 999;
}


/*.title {
        width: 911px;
        height: 45px;
        margin: 0px auto;
    }*/


/*.heitiao {
        width: 100%;
        height: 35px;
        background: rgba(0, 0, 0, 0.7);
    }*/

.menu {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #e3e3e3;
}

.p1 {
    width: 861px;
    height: 45px;
    background: url(../images/p1.png);
    float: left;
    cursor: pointer;
}

.p2 {
    width: 50px;
    height: 45px;
    background: url(../images/sp.png);
    float: right;
    cursor: pointer;
}

.bgg {
    width: 911px;
    height: 205px;
    margin: 25px auto;
}

.bgcon {
    width: 590px;
    height: 190px;
    float: left;
}

.bgcon img {
    width: 97px;
    height: 59px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
}

.bgcon .big {
    width: 195px;
    height: 119px;
}

.bgcon .last {
    position: relative;
    top: -60px;
}

.bgyl {
    width: 264px;
    height: 180px;
    float: right;
    background: url(../images/bg1s.jpg);
    background-size: 294px;
}
.gotop{
    background: none;
    background-image: linear-gradient(rgba(0,0,0,0.3) 0, rgba(0,0,0,0.3) 100%);
    width: 40px;
    height: 40px;
    margin: 0 0 6px 10px;
    border: 0;

    display: none;
    position: fixed;
    left: 50%;
    margin-left: 447px;
    bottom: 30px;
}
.gotop div.text{
    display: none;
    padding: 7px;
}
.gotop span.icon{
    display: block;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(../images/topfed_c531aae6.png) no-repeat -1px -10px;
    background-position: -39px -9px;
    position: absolute;
    left: 4px;
    top: 12px;
}
.gotop div.icon-mask{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 0;
    color: #fff;
}